<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask Feedback</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Flask Feedback</a>
  <ul class="navbar-nav">
    {% if session["username"] %}
      <li class="nav-item">
        <a class="nav-link" href="/users/{{session["username"]}}">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {% else %}
      <li>
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li>
        <a class="nav-link" href="/register">Sign up</a>
      </li>
    {% endif %}
  </ul>
</nav>

<div class="container page">
  {% for msg in get_flashed_messages() %}
    <div class="alert alert-info"> {{msg}} </div>
  {% endfor %}

  {% block content %}
  {% endblock %}
</div>

</body>
</html>
